body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

#showcase {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url('/img/bg-img-filter.jpg') no-repeat center/cover;
}

.showcase-content {
  margin-top: 200px;
  text-align: left;
  margin-left: 2rem;
}

.title {
  font-family: 'Roboto', sans-serif;
  display: block;
}

.text {
  font-size: 1.2rem;
}

.icons {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.9s;
}

.icon {
  margin-right: 0.5rem;
}

a:hover {
  /* color: #2b2b28; */
  color: #e3b04b;
  opacity: 1;
}

.menu {
  margin-top: 220px;
  /* text-align: center; */
  font-size: 2rem;
  /* display: none; */
}

.title-right {
  margin-bottom: 2rem;
  /* Stop links from taking full container width and center  */
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

/* About Section  */
.about {
  /* border: 1px solid red; */
  text-align: center;
  opacity: 0;
  margin-top: 200px;
}

.section-title {
  margin-bottom: 0;
  margin-left: 32%;
}

.cross {
  font-size: 1.5rem;
  margin-left: 30%;
  cursor: pointer;
}

.cross:hover {
  color: #e3b04b;
  transition: 0.9s;
}

.about-icons {
  font-size: 2.2rem;
}

.about-icon {
  margin-right: 1rem;
}

.about-icon:hover {
  transform: rotate(-360deg);
  transition: all 1s ease-in-out 0s;
}

.html {
  color: #f16529;
}

.css {
  color: #3c99dc;
}

.js {
  color: #f0db4f;
}

.node {
  color: #3c873a;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* My Work Section  */
#my-work {
  width: 100%;
  height: 100vh;
  /* height: 100%; */
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: url('../img/bg-img-mywork.jpg') no-repeat center/cover;
}

#my-work-title {
  /* padding-top: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mywork-title {
  /* tocounteract cross margin and align title center */
  margin-left: 30%;
}

.mywork-text {
  margin-top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2rem 20px;
  justify-items: center;
  justify-content: center;
}

.grid-element {
  width: 100%;
  height: 45%;
  position: relative;
}

.grid-img {
  width: 550px;
  height: 280px;
  /* border-radius: 2px; */
  filter: grayscale(100%);
  transition: 0.5s;
}

img:hover {
  filter: grayscale(0%);
}

.link {
  /* Relative to grid element  */
  position: absolute;
  top: 100%;
  right: 53%;
  font-size: 2rem;
  /* color: #1089ff; */
  /* color: #a0c334; */
  color: #e3b04b;
  opacity: 0.7;
}

.code {
  /* Relative to grid element  */
  position: absolute;
  top: 100%;
  right: 43%;
  font-size: 2rem;
  /* color: #ce2e6c; */
  /* color: #cf3030; */
  color: #e3b04b;
  opacity: 0.7;
}

/* Contact Section  */
/* About Section  */
.contact {
  /* border: 1px solid red; */
  text-align: center;
  opacity: 0;
  margin-top: 200px;
}

/* Media Queries  */
@media (max-width: 1200px) {
  body {
    overflow-y: scroll;
  }

  /* My Work Section  */
  #my-work {
    height: 100%;
  }

  .grid-container {
    display: block;
    margin: 2rem 20px;
    justify-items: center;
    justify-content: center;
  }

  .grid-element {
    margin-bottom: 2rem;
  }

  .link {
    /* Relative to grid element  */
    position: absolute;
    top: 45%;
    right: 53%;
  }

  .code {
    /* Relative to grid element  */
    position: absolute;
    top: 45%;
    right: 43%;
  }
}

@media (max-width: 1024px) {
  /* Showcase Section */
  #showcase {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .showcase-content {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .menu {
    margin-top: 180px;
  }

  /* My Work Section  */
  #my-work {
    height: 100%;
    /* Remove whitespace  */
    padding-bottom: 8rem;
  }
}

@media (max-width: 650px) {
  /* Adjust My Work Grid */

  .grid-element {
    width: 100%;
    height: 45%;
    position: relative;
  }

  .grid-img {
    width: 400px;
    height: 280px;
    /* border-radius: 2px; */
    filter: grayscale(100%);
    transition: 0.5s;
  }

  img:hover {
    filter: grayscale(0%);
  }

  .link {
    /* Relative to grid element  */
    position: absolute;
    top: 45%;
    right: 53%;
    opacity: 1;
  }

  .code {
    /* Relative to grid element  */
    position: absolute;
    top: 45%;
    right: 33%;
    opacity: 1;
  }
}
